# Output folders
playlizt-ui-tests/src/test/output/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
gradle/wrapper/gradle-*.zip

# IDE
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.log

# Java
*.class
*.jar
!gradle-wrapper.jar
*.war
*.ear

# Spring Boot
spring-boot-application.log

# Docker
postgres_data/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl


# Flutter
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/build/
frontend/pubspec.lock
*.zip

playlizt-frontend/playlizt_app/integration_test/.download_test_urls.local.txt
